.body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 10px;
  display: flex;
  min-height: 150px;
}
.card-container:hover {
  transform: scale(1.1);
  transition: 0.7s;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}
.left-block {
  width: 25%;
}
.center-block {
  width: 50%;
}
.right-block {
  margin: auto;
  padding-left: 50px;
}
.right-block button {
  padding: 10px;
  background: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.rating img {
  width: 45px;
}
.product-img {
  width: 150px;
  margin-top: -20px;
  margin-bottom: -20px;
}
@media only screen and (max-width: 767px) {
  .disclouser {
    width: 90%;
  }
  .card-container {
    width: 90%;
  }
  .left-block {
    width: 40%;
  }
  .center-block {
    display: none;
  }
  .right-block {
    margin-right: 20px;
    width: 40%;
  }
  .right-block button {
    padding: 5px;
    margin-left: -20px;
    width: 120px;
  }

  header {
    width: 90%;
    justify-content: space-between;
  }
  .search-bar {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    height: 20vh;
  }
  .disclouser {
    width: 90%;
  }
  .card-container {
    width: 90%;
  }
  .left-block {
    width: 40%;
  }
  .right-block {
    margin-right: 20px;
    width: 25%;
  }
  .right-block p {
    display: none;
  }

  header {
    width: 90%;
    justify-content: space-between;
  }
  .search-bar {
    display: none;
  }
}
